@import 'functions.scss';

body .add-button {
  margin-top: 1rem;
}

.projectlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projectlistelement {
  padding:pxToRem(20);
  border-bottom: 1px solid #b3b3b3;
}

.projectlistelement label {
  display: block;
  font-size: .75rem;
  margin-bottom: 0;
  color: #3c3c3c;
}

.project-tag {
  margin-top: 1rem;
}

.buttons {
  margin-top: 1.5rem;
  text-align: end;
}

.projectlist button.md-icon-button {
  width: auto;
}

.projectlist button.md-icon-button:focus {
  outline: 1px dotted #b3b3b3;
}
