$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
/* set the ideal viewport width for IE */
@-ms-viewport {
  width: device-width;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

table {
  margin-left: 20px;
}

.settings {
  width: 400px;
}

.twocolums {
  width: 100%;
}

.columnone {
  width: 45%;
  float: left;
}
.columntwo {
  width: 45%;
  float: right;
}

form .input-group {
  margin-bottom: 15px;
}

md-sidenav md-content {
  border-right: 1px solid #e0e0e0;
}

main {
  width: 100%;
}


