@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.projectlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projectlistelement {
  padding:20px;
  border-bottom: 1px solid #b3b3b3;
}

.project-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-inputs {
  flex: 1 1 auto;
}

.project-buttons {
  flex: 0 1 auto;
}

@media all and (max-width: $screen-sm) {
  .project-form {
    flex-direction: column;
  }
}

/* $screen-xs */

.projectlistelement label {
  display: block;
  font-size: .75rem;
  margin-bottom: 0;
  color: #3c3c3c;
}

.project-name,
.project-tag{
  flex-grow: 1;
}

.buttons {
  margin-top: 1.5rem;
  text-align: end;
}
