.projectlist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.projectlistelement {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3; }

.project-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.project-inputs {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

.project-buttons {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto; }

@media all and (max-width: 768px) {
  .project-form {
    -webkit-flex-direction: column;
    flex-direction: column; } }

/* $screen-xs */
.projectlistelement label {
  display: block;
  font-size: .75rem;
  margin-bottom: 0;
  color: #3c3c3c; }

.project-name,
.project-tag {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.buttons {
  margin-top: 1.5rem;
  text-align: end; }
