/* some functions for pixel to rem conversion */
.reportnavigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%; }

.reportnavelement {
  -webkit-flex: 1;
  flex: 1;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.summary {
  height: 2.5em; }

.reportlist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.reportlistelement {
  padding: 1.25rem;
  border-bottom: 1px solid #b3b3b3; }

.header {
  padding: 0.625rem 1.25rem;
  border-bottom: 1px solid #b3b3b3; }

.report-desc {
  font-size: 1.2rem; }

.header .report-desc {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  font-size: 1rem; }

.report-project-tags {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.report-projects-tags-chips .md-chips {
  box-shadow: none;
  font-size: 0.8rem; }

.report-projects-tags-chips .md-chip {
  white-space: nowrap; }

.header .report-date-time-duration {
  text-align: right; }

.header .report-date-time-duration span {
  display: block;
  white-space: nowrap; }

.report-date,
.report-time-duration {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.report-date span {
  white-space: nowrap; }

.report-time {
  white-space: nowrap;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.report-duration {
  padding-left: .8rem;
  font-weight: bold;
  white-space: nowrap;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.header {
  font-weight: bold; }
