.reportlist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.reportlistelement {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3; }

.reportelement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto; }

.report-desc {
  font-size: 1.5rem;
  flex-grow: 4; }

.report-project,
.report-tag {
  margin-left: 2rem;
  align-self: flex-end; }

.report-starttime,
.report-endtime,
.report-difftime {
  margin-left: 2rem;
  align-self: flex-end; }
