@import 'functions.scss';

.reportnavigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.datepickerreport {
}

.reportnavelement {
  flex: 1;
  align-self: flex-end;
}

.summary {
  height: 2.5em;
}

.reportlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reportlistelement {
  padding:pxToRem(20);
  border-bottom: 1px solid #b3b3b3;
}

.header {
  padding: pxToRem(10) pxToRem(20);
  border-bottom: 1px solid #b3b3b3;
}

.report-desc {
  font-size: 1.2rem;
}

.header .report-desc {
  align-self: flex-end;
  font-size: 1rem;
}

.report-project-tags {
  align-self: flex-end;
}

.report-projects-tags-chips .md-chips {
  box-shadow: none;
  font-size: 0.8rem;
}

.header .report-date-time-duration {
  text-align: right;
}

.header .report-date-time-duration span {
  display: block;
  white-space: nowrap;
}

.report-date,
.report-time-duration {
  align-self: flex-end;
}

.report-date span {
  white-space: nowrap;
}

.report-time {
  white-space: nowrap;
  align-self: flex-end;
}

.report-duration {
  padding-left: .8rem;
  font-weight: bold;
  white-space: nowrap;
  align-self: flex-end;
}

.header {
  font-weight: bold;
}

