.reportlist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.reportlistelement {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3; }

.reportelement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto; }

@media all and (max-width: 768px) {
  .reportelement {
    flex-wrap: wrap; } }
.report-desc {
  font-size: 1.2rem;
  flex-grow: 4; }

.report-project {
  align-self: flex-end; }

.report-tag {
  flex-basis: 12em;
  align-self: flex-end;
  margin-left: 1em; }

.report-tag.headerelement {
  margin-left: 2em; }

.report-date,
.report-time,
.report-duration {
  align-self: flex-end; }

.report-date {
  flex-basis: 6em; }

.report-time {
  flex-basis: 7em; }

.report-duration {
  flex-basis: 4em;
  font-weight: bold; }

.report-duration.headerelement {
  margin-left: 0rem; }

.headerelement {
  font-weight: bold; }
