.reportnavigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%; }

.reportnavelement {
  -webkit-flex: 1;
  flex: 1;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.summary {
  height: 2.5em; }

.reportlist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.reportlistelement {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3; }

.reportelement {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

@media all and (max-width: 768px) {
  .reportelement {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }

.report-desc {
  font-size: 1.2rem;
  -webkit-flex-grow: 4;
  flex-grow: 4; }

.report-project {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.report-tag {
  -webkit-flex-basis: 12em;
  flex-basis: 12em;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-left: 1em; }

.report-tag.headerelement {
  margin-left: 2em; }

.report-date,
.report-time,
.report-duration {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.report-date {
  -webkit-flex-basis: 8em;
  flex-basis: 8em; }

.report-time {
  -webkit-flex-basis: 7em;
  flex-basis: 7em; }

.report-duration {
  -webkit-flex-basis: 4em;
  flex-basis: 4em;
  font-weight: bold; }

.report-duration.headerelement {
  margin-left: 0rem; }

.headerelement {
  font-weight: bold; }
