/* some functions for pixel to rem conversion */
.tracklist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.track-list-item {
  padding: 0.625rem;
  border-bottom: 1px solid #b3b3b3;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.track-inputs {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

.track-buttons {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto; }

.track-desc-project-tag,
.track-date-time-duration {
  display: -webkit-flex;
  display: flex; }

.track-desc {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 8rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  overflow-x: hidden; }

.track-desc span {
  padding-right: 0.3125rem; }

.track-desc .datetime {
  font-size: 0.8rem;
  font-weight: 200;
  color: inherit;
  white-space: nowrap; }

.track-project,
.track-tag {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.track-starttime,
.track-endtime,
.track-difftime {
  margin-right: 2rem; }

.track-button-area {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.current-timer {
  font-size: 0.75rem;
  display: block;
  line-height: 2;
  margin-top: -0.5rem; }

.track-project-chips md-chip,
.track-tag-chips md-chip {
  font-size: 0.8rem;
  padding: 0 0.375rem 0 0.625rem; }

.track-project-chips .md-chips,
.track-tag-chips .md-chips {
  box-shadow: none; }

.track-project-chips .md-chip {
  background-color: #E8EAF6;
  font-weight: 500; }

.track-tag-chips .md-chip {
  background-color: #FCE4EC;
  font-weight: 500; }

.track-list button.md-icon-button {
  width: auto; }

.track-list button.md-icon-button:focus {
  outline: 1px dotted #b3b3b3; }

.layout-column md-card {
  margin-top: -0.625rem; }

.track-time label {
  white-space: nowrap; }

.track-date {
  min-width: 15.625rem;
  margin: 0.6875rem 0; }

md-list md-list-item .md-secondary {
  top: auto;
  margin-top: 0.625rem; }
