.tracklist {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.tracklistelement {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3; }

.track-inputs {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

.track-buttons {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto; }

@media all and (max-width: 768px) {
  .track-form {
    -webkit-flex-direction: column;
    flex-direction: column; } }

/* $screen-xs */
.track-desc-project-tag,
.track-date-time-duration {
  display: -webkit-flex;
  display: flex; }

.track-desc,
.track-projects-tags {
  margin-right: 15rem; }

.track-project,
.track-tag {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.track-starttime,
.track-endtime,
.track-difftime {
  margin-right: 2rem; }

.track-button-area {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.current-timer {
  font-size: 0.75rem;
  display: block;
  line-height: 2;
  margin-top: -0.5rem; }

.project-chip,
.tag-chip {
  font-size: 1.25rem; }

.track-list button.md-icon-button {
  width: auto; }
