@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.tracklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.track-list-item {
  padding:20px;
  border-bottom: 1px solid #b3b3b3;
}

.track-list-item:hover {
  background-color: #FFFDE7;
}

.track-inputs {
  flex: 1 1 auto;
}

.track-buttons {
  flex: 0 1 auto;
}


@media all and (max-width: $screen-sm) {
  .track-form {
    flex-direction: column;
  }
}

/* $screen-xs */

.track-desc-project-tag,
.track-date-time-duration {
  display: flex;
}

.track-desc{
  font-size: 1.75rem;
  margin-right: 15rem;
  margin-top: 0;
}

.track-projects-tags {
  margin-right: 15rem;
}

.track-project,
.track-tag{
  flex-grow: 1;
}

.track-starttime,
.track-endtime,
.track-difftime {
  margin-right: 2rem;
}

.track-button-area {
  align-items: flex-end;
}
.current-timer {
  font-size: 0.75rem;
  display: block;
  line-height: 2;
  margin-top: -0.5rem;
}

.track-projects-tags-chips md-chip {
  font-size: 0.8rem;
  padding: 0 6px 0 10px;
}

.track-projects-tags-chips md-chips-wrap {
  box-shadow: none;
}

.track-list button.md-icon-button {
  width: auto;
}

.track-list button.md-icon-button:focus {
  outline: 1px dotted #b3b3b3;
}

.layout-column md-card {
  margin-top: -10px;
}

.track-time label {
  white-space: nowrap;
}

.track-date {
  min-width: 250px;
  margin: 9px 0px;
}

md-list md-list-item .md-secondary {
  top: auto;
  padding-top: 30px;
}
