@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.tracklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tracklistelement {
  padding:20px;
  border-bottom: 1px solid #b3b3b3;
}

.track-inputs {
  flex: 1 1 auto;
}

.track-buttons {
  flex: 0 1 auto;
}


@media all and (max-width: $screen-sm) {
  .track-form {
    flex-direction: column;
  }
}

/* $screen-xs */

.track-desc-project-tag,
.track-date-time-duration {
  display: flex;
}

.track-desc,
.track-projects-tags {
  margin-right: 15rem;
}

.track-project,
.track-tag{
  flex-grow: 1;
}

.track-starttime,
.track-endtime,
.track-difftime {
  margin-right: 2rem;
}

.track-button-area {
  align-items: flex-end;
}
.current-timer {
  font-size: 0.75rem;
  display: block;
  line-height: 2;
  margin-top: -0.5rem;
}

.project-chip,
.tag-chip {
  font-size: 1.25rem;
}

.track-list button.md-icon-button {
  width: auto;
}