<md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo" layout="row">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Navigation</h1>
            <!--
            <md-button class="md-icon-button">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            -->
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list  ng-show="homeNavCtrl.authData">
            <md-list-item md-ink-ripple layout="row" ui-sref="timer">
                <md-icon>timer</md-icon>
                <p>Timer</p>
            </md-list-item>
            <md-list-item md-ink-ripple layout="row" ui-sref="reports">
                <md-icon>file_download</md-icon>
                <p>Reports</p>
            </md-list-item>
            <md-list-item md-ink-ripple layout="row" ui-sref="projects">
                <md-icon>settings</md-icon>
                <p>Configuration</p>
            </md-list-item>
            <md-list-item md-ink-ripple layout="row" ui-sref="home" ng-click="homeNavCtrl.logout()">
                <md-icon>account_box</md-icon>
                <p>Logout</p>
            </md-list-item>
        </md-list>
        <md-list  ng-hide="homeNavCtrl.authData">
            <md-list-item md-ink-ripple layout="row" ui-sref="login">
                <md-icon>account_box</md-icon>
                <p>Login</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>