<!--
<md-toolbar layout="row" layout-align="space-between">
    <h2 class="md-toolbar-tools">Protrack 2</h2>
    <md-button aria-label="First Button"> Button1 </md-button>
    <md-button aria-label="Second Button"> Button2 </md-button>
    <md-button aria-label="Second Button"> Button3 </md-button>
</md-toolbar>
-->

<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Protrack</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-show="homeNavCtrl.authData">
                <li><a ui-sref="timer">Timer</a></li>
                <li><a ui-sref="timer2">Timer (MD)</a></li>
                <li><a ui-sref="reports">Reports</a></li>
                <li><a ui-sref="projects">Configuration</a></li>
                <li><a ui-sref="home" ng-click="homeNavCtrl.logout()">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav" ng-hide="homeNavCtrl.authData">
                <li><a ui-sref="login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>