<div class="container">
    <input ng-model="vm.date">
    <input ng-model="vm.title">
    <input ng-model="vm.tag">
    <input ng-model="vm.desc">
    <input ng-model="vm.time">
    <button ng-click="vm.save()">save</button>

    <div class="row">
        <table>
            <tr ng-repeat="(key,track) in vm.tracks">
                <td>{{ track.date }}</td>
                <td>{{ track.title }}</td>
                <td>{{ track.tag }}</td>
                <td>{{ track.desc }}</td>
                <td>{{ track.time }}</td>
                <td>
                    <button class='btn btn-warning btn-mini' ng-click='vm.deleteItem(track.$id)'>X</button>
                    <button ng-click="vm.writeID(track.$id)">log id</button><hr>
                </td>
            </tr>
        </table>
    </div>


    <hr>

    <div class="footer">
        <p>copyright protrack from protrack</p>
    </div>
</div>