<div class="container">
    <div class="twocolums">
        <div class="columnone">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr style="font-weight: bold">
                    <td style="width:15%">Projekt</td>
                    <td>
                        <button id="addproject" class="btn btn-default btn-xs" ng-click="projectsCtrl.createProject()">
                            <i class="fa fa-plus-square-o fa-lg"></i></button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,project) in projectsCtrl.projects | orderBy:'name':false">
                    <td>
            <span editable-text="project.name" e-name="name" e-class="form-control input-sm" e-form="rowform"
                  e-required>{{ project.name || 'empty' }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onaftersave="projectsCtrl.updateProject($data, project.$id)"
                              ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="projectsCtrl.newProject.name == project.name">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-xs"><i
                                    class="fa fa-save fa-lg"></i></button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default btn-xs"><i class="fa fa-times fa-lg"></i></button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button ng-hide="confirm" class="btn btn-default btn-xs" type="button"
                                    ng-click="rowform.$show()"><span
                                    class="fa fa-edit" aria-hidden="true"></span></button>
                            <button ng-hide="confirm" class="btn btn-default btn-xs" type="button"
                                    ng-click="confirm=true"><span
                                    class="fa fa-trash" aria-hidden="true"></span></button>
                            <div ng-show="confirm">
                                <button class="btn btn-danger btn-xs" title="Projekt wirklich löschen?"
                                        ng-click="projectsCtrl.deleteItem('project', project.$id)"><span
                                        class="fa fa-trash"
                                        aria-hidden="true"></span>?
                                </button>
                                <button class="btn btn-default btn-xs" title="Abbrechen" ng-click="confirm=false"><span
                                        class="fa fa-times fa-lg" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="columntwo">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr style="font-weight: bold">
                    <td style="width:30%">Tag</td>
                    <td style="width:70%">Beschreibung</td>
                    <td>
                        <button id="addtag" class="btn btn-default btn-xs" ng-click="projectsCtrl.createTag()"><i
                                class="fa fa-plus-square-o fa-lg"></i></button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,tag) in projectsCtrl.tags | orderBy:'name':false">
                    <td>
                        <span editable-text="tag.name" e-name="name" e-class="form-control input-sm" e-form="rowform"
                              e-required>{{ tag.name || 'empty' }}</span>
                    </td>
                    <td>
                        <span editable-text="tag.desc" e-name="desc" e-class="form-control input-sm" e-form="rowform"
                              e-required>{{ tag.desc || 'empty' }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onaftersave="projectsCtrl.updateTag($data, tag.$id)"
                              ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="projectsCtrl.newTag.name == tag.name">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-xs"><i
                                    class="fa fa-save fa-lg"></i></button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default btn-xs"><i class="fa fa-times fa-lg"></i></button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button ng-hide="confirm" class="btn btn-default btn-xs" type="button"
                                    ng-click="rowform.$show()"><span
                                    class="fa fa-edit" aria-hidden="true"></span></button>
                            <button ng-hide="confirm" class="btn btn-default btn-xs" type="button"
                                    ng-click="confirm=true"><span
                                    class="fa fa-trash" aria-hidden="true"></span></button>
                            <div ng-show="confirm">
                                <button class="btn btn-danger btn-xs" title="Tag wirklich löschen?"
                                        ng-click="projectsCtrl.deleteItem('tag', tag.$id)"><span class="fa fa-trash"
                                                                                                 aria-hidden="true"></span>?
                                </button>
                                <button class="btn btn-default btn-xs" title="Abbrechen" ng-click="confirm=false"><span
                                        class="fa fa-times fa-lg" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
