<md-content layout-padding>
    <form name="form" ng-submit="regCtrl.register()" role="form" layout="column">
        <md-input-container>
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" ng-model="regCtrl.firstName" required />
        </md-input-container>
        <md-input-container>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" ng-model="regCtrl.lastName" required />
        </md-input-container>
        <md-input-container>
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" ng-model="regCtrl.email" required />
        </md-input-container>
        <md-input-container>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="regCtrl.password" required />
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Register</md-button>
    </form>

</md-content>