<div class="container">
    <!-- TODO Auswahlleiste -->

    <ul class="reportlist">
        <li ng-repeat="(key,track) in reportsCtrl.tracksArray | orderBy:'starttime':true" class="reportlistelement">
            <div class="reportelement">
                <div class="report-desc">
                    <span id="reportDesc{{key}}">{{track.desc || 'empty'}}</span>
                </div>
                <div class="report-project">
                    <span class="report-project label label-primary">{{ reportsCtrl.showProjectName(track.project) }}</span>
                </div>
                <div class="report-tag">
                    <span class="report-tag label label-default"> {{ reportsCtrl.showTagsName(track.tags) }}</span>
                </div>

                <div class="report-starttime">
                    <span> {{ track.starttime || 'empty' }}</span>
                </div>
                <div class="report-endtime">
                    <span> {{ track.endtime || 'empty' }}</span>
                </div>
                <div class="report-difftime">
                    <span> {{ track.difftime || 'empty' }}</span>
                </div>
            </div>
        </li>
    </ul>

</div>