<div class="container">
    <div class="reportnavigation">
        <div class="reportnavelement">
            <md-content>
                <md-datepicker ng-model="reportsCtrl.dateFrom" md-placeholder="Enter start date"
                               ng-change="reportsCtrl.saveDate()"></md-datepicker>
            </md-content>
        </div>
        <div class="reportnavelement">
            <md-content>
                <md-datepicker ng-model="reportsCtrl.dateTo" md-placeholder="Enter end date"
                               ng-change="reportsCtrl.saveDate()"></md-datepicker>
            </md-content>
        </div>
        <!-- TODO Options Project
        <div class="reportnavelement>Project</div-->
        <!-- TODO Options Tag
        <div class="reportnavelement>Tag</div-->
        <div class="reportnavelement summary">
            Total Duration: {{ reportsCtrl.sumDur(filteredTracks) }} h
        </div>
        <div class="reportnavelement">
            <md-button class="md-raised md-accent" ng-csv="reportsCtrl.writeCsv(filteredTracks)" filename="export.csv" csv-header="['Description', 'Project', 'Tags', 'Starttime', 'Endtime', 'Duration']">
                <md-icon class="material-icons">save</md-icon>
                Export csv
            </md-button>
        </div>
    </div>

    <ul class="reportlist">
        <li class="reportlistelement">
            <div class="reportelement">
                <div class="report-desc headerelement">Description</div>
                <div class="report-project headerelement">Project</div>
                <div class="report-tag headerelement">Tag</div>
                <div class="report-date headerelement">Date</div>
                <div class="report-time headerelement">Time</div>
                <div class="report-duration headerelement">Duration</div>
            </div>
        </li>
        <li ng-repeat="(key,track) in $parent.filteredTracks = (reportsCtrl.tracksArray | daterange:reportsCtrl.dateFrom:reportsCtrl.dateTo  | orderBy:'starttime':true)"
            class="reportlistelement">
            <div class="reportelement">
                <div class="report-desc">
                    <span id="reportDesc{{key}}">{{track.desc || 'empty'}}</span>
                </div>
                <div class="report-project">
                    <span class="report-project label label-primary">{{ reportsCtrl.showProjectName(track.project) }}</span>
                </div>
                <div class="report-tag">
                    <span class="report-tag label label-default"> {{ reportsCtrl.showTagsName(track.tags) }}</span>
                </div>

                <div class="report-date">
                    <span> {{ track.starttime | weekday }} {{ track.starttime | limitTo : 10 }}</span>
                </div>
                <div class="report-time">
                    <span> {{ track.starttime | limitTo : 5 : 11 }} - {{ track.endtime | limitTo : 5 : 11 }}</span>
                </div>
                <div class="report-duration" ng-style="{'color':(track.record?'red':'black')}">
                    <span> {{ track.difftime | durationmin }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>