<md-content layout-padding layout="column">
    <md-card id="editForm">
        <form>
            <md-card-content>
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-input-container flex="grow">
                        <label for="currentDesc">Working On...</label>
                        <input name="desc" id="currentDesc" ng-model="tracksCtrl.current.desc" ng-change="tracksCtrl.checkDesc()" autofocus />
                    </md-input-container>
                    <md-datepicker flex="grow" ng-model="tracksCtrl.current.date" md-placeholder="Enter date"></md-datepicker>
                    <div layout="row" flex="grow">
                        <md-input-container flex="grow" flex-sm="33">
                            <label>Start Time</label>
                            <input ng-model="tracksCtrl.current.startTime" ng-change="tracksCtrl.changeTime('start')" ng-blur="tracksCtrl.formatTime('startTime')">
                        </md-input-container>
                        <md-input-container flex="grow" flex-sm="33">
                            <label>End Time</label>
                            <input ng-model="tracksCtrl.current.endTime" ng-change="tracksCtrl.changeTime('end')" ng-blur="tracksCtrl.formatTime('endTime')">
                        </md-input-container>
                        <md-input-container flex="grow" flex-sm="33">
                            <label>Duration</label>
                            <input ng-model="tracksCtrl.current.duration" ng-change="tracksCtrl.changeTime('duration')" ng-blur="tracksCtrl.formatTime('duration')">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="space-around">
                    <md-input-container flex="25">
                        <label>Project</label>
                        <md-select ng-model="tracksCtrl.current.project" ng-model-options="{trackBy:'$value.$id'}" ng-change="tracksCtrl.projectSelected()">
                            <md-option ng-value="project" ng-repeat="project in tracksCtrl.allProjects" value="{{project.name}}">
                                {{project.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-chips flex="70" ng-model="tracksCtrl.current.tags" readonly="tracksCtrl.readonly" md-autocomplete-snap
                              md-transform-chip="tracksCtrl.transformChip($chip)"
                              md-require-match="tracksCtrl.requireMatch"
                              md-on-add="tracksCtrl.tagChanged()" md-on-remove="tracksCtrl.tagChanged()">
                        <md-autocomplete
                                md-selected-item="tracksCtrl.selectedTag"
                                md-search-text="tracksCtrl.searchTextTag"
                                md-items="tag in tracksCtrl.querySearchTag(tracksCtrl.searchTextTag)"
                                md-item-text="tag"
                                md-no-cache="true"
                                placeholder="Add a Tag">
                            <span md-highlight-text="tracksCtrl.searchTextTag">{{tag.name}} ({{tag.desc}})</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span><em>{{$chip.name}}</em> ({{$chip.desc}})</span>
                        </md-chip-template>
                    </md-chips>
                </md-card-content>
            </div>
            <md-card-actions layout="row">
                <md-button class="md-raised md-primary" ng-hide="tracksCtrl.current.record || tracksCtrl.current.durationSet || tracksCtrl.editMode" ng-disabled="tracksCtrl.current.dataMissing" style="width:100%;" ng-click="tracksCtrl.startTimer()">
                    <md-icon role="presentation" aria-hidden="true">timer</md-icon> Start Timer
                </md-button>
                <md-button class="md-raised md-accent" ng-hide="!tracksCtrl.current.record || tracksCtrl.editMode" ng-disabled="tracksCtrl.current.dataMissing" style="width:100%;" ng-click="tracksCtrl.stopTimer()">
                    <md-icon role="presentation" aria-hidden="true">timer</md-icon> Stop Timer
                    <span>{{ tracksCtrl.current.duration | durationsec }}</span>
                </md-button>
                <md-button class="md-raised md-accent" ng-disabled="tracksCtrl.current.dataMissing" style="width:100%;" ng-show="tracksCtrl.current.durationSet && !tracksCtrl.editMode && !tracksCtrl.current.record" ng-click="tracksCtrl.createTrackElement()">
                    <md-icon role="presentation" aria-hidden="true">add</md-icon> Add Timer
                </md-button>
                <md-button class="md-raised md-accent" ng-disabled="tracksCtrl.current.dataMissing || !tracksCtrl.current.durationSet" style="width:100%;" ng-show="tracksCtrl.editMode" ng-click="tracksCtrl.updateTrack()">
                    <md-icon role="presentation" aria-hidden="true">save</md-icon> Update Timer
                </md-button>
            </md-card-actions>
        </form>

    </md-card>

    <md-list class="track-list">
        <md-list-item class="track-list-item" ng-repeat="(key,track) in tracksCtrl.tracksArray">
            <div class="md-list-item-text" layout="column" flex="grow">
                <h3 class="track-desc">{{track.desc}}</h3>
                <p class="datetime">{{track.starttime | dateonly}} {{track.starttime | timeonly}} - {{track.endtime | timeonly}}</p>


                <div layout="row">
                    <md-chips class="track-projects-tags-chips" ng-show="track.project">
                        <md-chip>{{track.project.name}}</md-chip>
                    </md-chips>
                    <md-chips flex class="track-projects-tags-chips" ng-model="track.tags" readonly="true">
                        <md-chip-template>{{$chip.name}}</md-chip-template>
                    </md-chips>
                </div>
            </div>
            <div class="md-secondary">
                <md-button class="md-icon-button" type="button" ng-click="tracksCtrl.restartTimer(track.$id);" title="Start new timer with same name, project, tags">
                    <md-icon role="presentation" aria-hidden="true">timer</md-icon>
                    <span class="md-visually-hidden">Start new timer with same name, project, tags</span>
                </md-button>
                <md-button class="md-icon-button" type="button" ng-click="tracksCtrl.editTrack(track.$id, $event);" title="Edit this track">
                    <md-icon role="presentation" aria-hidden="true">mode_edit</md-icon>
                    <span class="md-visually-hidden">Edit this track</span>
                </md-button>
                <md-button class="md-icon-button" type="button" ng-click="tracksCtrl.deleteTrack(track.$id);" title="Delete this track">
                    <md-icon role="presentation" aria-hidden="true">delete</md-icon>
                    <span class="md-visually-hidden">Delete this track</span>
                </md-button>
            </div>
        </md-list-item>
    </md-list>

    <div class="footer">
        <md-divider></md-divider>
        <p>copyright protrack from protrack</p>

    </div>
</md-content>
