<div class="container">

    <div class="row">
        <div>
            <mdl-button-raised ng-click="tracksCtrl.createTrackElement()"><i class="material-icons">add</i> Add new Track</mdl-button-raised>
        </div>
        <ul class="tracklist">
            <li ng-repeat="(key,track) in tracksCtrl.tracksArray | orderBy:'starttime':true" class="tracklistelement">
                <form class="track-form" editable-form name="editableForm" onaftersave="tracksCtrl.updateTrack($data, track.$id)" shown="tracksCtrl.newTrack.starttime == track.starttime">
                    <div class="track-inputs">
                        <div class="track-desc-project-tag">
                            <div class="track-desc formgroup">
                                <label for="trackDesc{{key}}" ng-show="editableForm.$visible">Working on...</label>
                                <span e-id="trackDesc{{key}}" editable-text="track.desc" e-name="desc" e-class="form-control">{{track.desc || 'empty'}}</span>
                            </div>
                            <div class="track-project formgroup">
                                <label for="trackProject{{key}}" ng-show="editableForm.$visible">Project</label>
                                <span class="track-project label label-primary" editable-select="track.project" e-name="project" e-class="form-control editable-input"
                                      e-id="trackProject{{key}}" e-ng-change="tracksCtrl.updateProject($data, track.$id)"
                                      e-ng-options="p.$id as p.name for p in tracksCtrl.projectsArray">{{ tracksCtrl.showProject(track.project) }}</span>
                            </div>
                            <div class="track-tag formgroup">
                                <label for="trackTag{{key}}" ng-show="editableForm.$visible">Tag</label>
                                <span class="track-tag label label-default" editable-select="track.tags" e-name="tags" e-class="form-control editable-input" e-multiple
                                    e-id="trackTag{{key}}" e-ng-options="t.$id as tracksCtrl.loadTagname(t) for t in tracksCtrl.loadTags(track.project) | orderBy:'name'">
                                    {{ tracksCtrl.showTags(track.project, track.tags) }}</span>
                            </div>
                        </div>

                        <div class="track-date-time-duration">
                            <div class="track-starttime formgroup">
                                <label for="trackStart{{key}}">From</label>
                                <span editable-text="track.starttime" e-name="starttime" e-class="form-control editable-input"
                                      e-id="trackStart{{key}}" e-ng-change="tracksCtrl.changeStarttime($data, track)">
                                    {{ track.starttime | datetimenosecond }}</span>
                            </div>
                            <div class="track-endtime formgroup">
                                <label for="trackEnd{{key}}">To</label>
                                <span editable-text="track.endtime" e-name="endtime" e-class="form-control editable-input"
                                      e-id="trackEnd{{key}}" e-ng-change="tracksCtrl.changeEndtime($data, track)">
                                    {{ track.endtime | datetimenosecond }}</span>
                            </div>
                            <div class="track-difftime formgroup">
                                <label for="trackDiff{{key}}">Duration</label>
                                <span editable-text="track.difftime" e-name="difftime" e-class="form-control editable-input"
                                      e-id="trackDiff{{key}}" e-ng-change="tracksCtrl.changeDifftime($data, track)">
                                    {{(track.difftime | durationmin) || 'no diff time' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="track-buttons">
                        <span ng-show="!editableForm.$visible">
                            <mdl-button-raised ng-hide="track.record" ng-click="tracksCtrl.recordTrack(track, true)">
                                <i class="material-icons">timer</i> Start Timer
                            </mdl-button-raised>
                            <mdl-button-raised ng-show="track.record" ng-click="tracksCtrl.recordTrack(track, false)">
                                <i class="material-icons">timer_off</i> Stop Timer
                                <span>{{ track.difftime | durationsec }}</span>
                            </mdl-button-raised>

                            <!--
                            <button ng-hide="!track.record" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" type="button"
                                    ng-click="tracksCtrl.recordTrack(track, false)"><i class="material-icons md-icon dp24">timer_off</i></span>
                            </button>
                            <button ng-hide="track.record" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="tracksCtrl.recordTrack(track, true)"><i class="material-icons md-icon dp24">timer</i></span>
                            </button>
                            -->
                            <button ng-hide="confirm" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="tracksCtrl.editTrack(track.project); editableForm.$show()"><i class="material-icons">mode_edit</i></span>
                            </button>
                            <button ng-hide="confirm" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="confirm=true"><i class="material-icons">delete</i></button>
                            <div ng-show="confirm">
                                <button class="mdl-button mdl-js-button mdl-button--fab" title="Track wirklich löschen?"
                                        ng-click="tracksCtrl.deleteTrack(track.$id)"><i class="material-icons">delete</i>?
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--fab" title="Abbrechen" ng-click="confirm=false"><i class="material-icons">highlight_off</i></button>
                            </div>
                        </span>

                        <span ng-show="editableForm.$visible">
                            <button type="submit" ng-disabled="editableForm.$waiting" class="mdl-button mdl-js-button mdl-button--fab"><i class="material-icons">done</i></button>
                            <button type="button" ng-disabled="editableForm.$waiting" ng-click="tracksCtrl.cancelTrack(track); editableForm.$cancel()"
                                class="mdl-button mdl-js-button mdl-button--fab"><i class="material-icons">highlight_off</i></button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <hr>

    <div class="footer">
        <p>copyright protrack from protrack</p>
    </div>
</div>
