<div class="container">

    <div class="row">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr style="font-weight: bold">
                <td style="width:15%">Startzeit</td>
                <td style="width:20%">Projekt</td>
                <td style="width:10%">Tags</td>
                <td style="width:25%">Beschreibung</td>
                <td style="width:6%">Endzeit</td>
                <td>
                    <button id="addtrack" class="btn btn-default btn-xs" ng-click="tracksCtrl.createTrackElement()"><i
                            class="fa fa-plus-square-o fa-lg"></i></button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,track) in tracksCtrl.tracks | orderBy:'date':true">
                <td>
                    <span editable-text="track.starttime" e-name="starttime" e-class="form-control input-sm"
                          e-form="rowform" e-required>{{ track.starttime || 'empty' }}</span>
                </td>
                <td>
                    <span editable-select="track.project" e-name="project" e-form="rowform"
                          e-class="form-control input-sm"
                          e-ng-options="p.$id as p.name for p in tracksCtrl.projects">
                        {{ tracksCtrl.showProject(track.project) }}
                    </span>
                </td>
                <td>
                    <span editable-select="track.tags" e-name="tags" e-form="rowform" e-multiple
                          e-class="form-control input-sm"
                          e-ng-options="t.$id as t.name for t in tracksCtrl.tags">
                        {{ tracksCtrl.showTags(track.tags) }}
                    </span>
                </td>
                <td>
                    <span editable-text="track.desc" e-name="desc" e-class="form-control input-sm" e-form="rowform">{{ track.desc || 'empty' }}</span>
                </td>
                <td>
                    <span editable-text="track.endtime" e-name="endtime" e-class="form-control input-sm"
                          e-form="rowform">{{ track.endtime || 'empty' }}</span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onaftersave="tracksCtrl.updateTrack($data, track.$id)"
                          ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="tracksCtrl.newTrack.starttime == track.starttime">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-xs"><i
                                class="fa fa-save fa-lg"></i></button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default btn-xs"><i class="fa fa-times fa-lg"></i></button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button ng-hide="confirm" class="btn btn-default btn-xs" type="button"
                                ng-click="rowform.$show()"><span class="fa fa-edit" aria-hidden="true"></span></button>
                        <button ng-hide="confirm" class="btn btn-default btn-xs" type="button" ng-click="confirm=true">
                            <span class="fa fa-trash" aria-hidden="true"></span></button>
                        <div ng-show="confirm">
                            <button class="btn btn-danger btn-xs" title="Track wirklich löschen?"
                                    ng-click="tracksCtrl.deleteTrack(track.$id)"><span class="fa fa-trash"
                                                                                       aria-hidden="true"></span>?
                            </button>
                            <button class="btn btn-default btn-xs" title="Abbrechen" ng-click="confirm=false"><span
                                    class="fa fa-times fa-lg" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <div class="footer">
        <p>copyright protrack from protrack</p>
    </div>
</div>
