<link rel="stylesheet" href="styles/track.css">
<div class="container">

    <div class="row">
        <div>
            <button id="addtrack" class="mdl-button mdl-js-button mdl-button--fab"
                    ng-click="tracksCtrl.createTrackElement()"><i class="material-icons">add</i></button>
        </div>
        <table class="tracklist mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <tbody>
            <tr class="tracklistelement mdl-data-table__cell--non-numeric"
                ng-repeat="(key,track) in tracksCtrl.tracksArray | orderBy:'date':true">
                <td>
                    <div class="starttime">
                    <span editable-datetime="track.starttime" e-name="starttime" e-class="form-control input-sm"  e-ng-change="tracksCtrl.changeStarttime($data, track)"
                          e-form="rowform">{{ track.starttime || 'empty' }}</span>
                    </div>
                    <div class="project">
                    <span editable-select="track.project" e-name="project" e-form="rowform"
                          e-class="form-control input-sm" e-ng-change="tracksCtrl.updateProject($data, track.$id)"
                          e-ng-options="p.$id as p.name for p in tracksCtrl.projectsArray">
                        {{ tracksCtrl.showProject(track.project) }}
                    </span>
                    </div>
                    <div class="tags">
                                <!--span editable-ui-select="track.tags" e-ng-model="track.tags" e-name="tags" name="tags"
                                      e-form="rowform">
                                  {{track.tags}}
                                  <editable-ui-select-match placeholder="Tags ..." style="width:500px">
                                      {{$select.selected.name}}
                                  </editable-ui-select-match>
                                  <editable-ui-select-choices repeat="t.$id as t.name for t in tracksCtrl.loadTags(track.project) | filter:$select.search">
                                      {{tracksCtrl.showTags(track.project, track.tags) }}
                                  </editable-ui-select-choices>
                                </span-->

                        <!-- onshow="tracksCtrl.loadTags(track.project)" -->
                        <span editable-select="track.tags" e-name="tags" e-form="rowform" e-multiple
                              e-class="form-control input-sm"
                              e-ng-options="t.$id as tracksCtrl.loadTagname(t) for t in tracksCtrl.loadTags(track.project) | orderBy:'name'">
                            {{ tracksCtrl.showTags(track.project, track.tags) }}
                        </span>

                    </div>
                    <div class="desc">
                        <span editable-text="track.desc" e-name="desc" e-class="form-control input-sm" e-form="rowform">{{ track.desc || 'empty' }}</span>
                    </div>
                    <div class="endtime">
                    <span editable-datetime="track.endtime" e-name="endtime" e-class="form-control input-sm" e-ng-change="tracksCtrl.changeEndtime($data, track)"
                          e-form="rowform">{{ track.endtime || 'empty' }}</span>
                    </div>
                    <div class="difftime">
                    <span editable-text="track.difftime" e-step="any" e-min="0" e-name="difftime" e-class="form-control input-sm"  e-ng-change="tracksCtrl.changeDifftime($data, track)"
                          e-form="rowform">{{ track.difftime || 'empty' }}</span>
                    </div>
                    <div style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onaftersave="tracksCtrl.updateTrack($data, track.$id)"
                              ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="tracksCtrl.newTrack.starttime == track.starttime">
                            <button type="submit" ng-disabled="rowform.$waiting" class="mdl-button mdl-js-button mdl-button--fab"><i class="material-icons">done</i></button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="tracksCtrl.cancelTrack(track); rowform.$cancel()"
                                    class="mdl-button mdl-js-button mdl-button--fab"><i class="material-icons">highlight_off</i></button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button ng-hide="!track.record" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="tracksCtrl.recordTrack(track, false)"><i class="material-icons md-icon dp24">timer_off</i></span>
                            </button>
                            <button ng-hide="track.record" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="tracksCtrl.recordTrack(track, true)"><i class="material-icons md-icon dp24">timer</i></span>
                            </button>
                            <button ng-hide="confirm" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="tracksCtrl.editTrack(track.project); rowform.$show()"><i class="material-icons">mode_edit</i></span>
                            </button>
                            <button ng-hide="confirm" class="mdl-button mdl-js-button mdl-button--fab" type="button"
                                    ng-click="confirm=true"><i class="material-icons">delete</i></button>
                            <div ng-show="confirm">
                                <button class="mdl-button mdl-js-button mdl-button--fab" title="Track wirklich löschen?"
                                        ng-click="tracksCtrl.deleteTrack(track.$id)"><i class="material-icons">delete</i>?
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--fab" title="Abbrechen" ng-click="confirm=false"><i class="material-icons">highlight_off</i></button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <div class="footer">
        <p>copyright protrack from protrack</p>
    </div>
</div>
